[submodule "40423209"]
	path = 40423209
	url = https://github.com/40423209/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423212"]
	path = 40423212
	url = https://github.com/40423212/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423217"]
	path = 40423217
	url = https://github.com/40423217/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423218"]
	path = 40423218
	url = https://github.com/40423218/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423255"]
	path = 40423255
	url = https://github.com/40423255/2016fallcadp_hw.git
	branch = gh-pages
